# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
backend/.env
backend/media/
backend/staticfiles/

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# OS / editors
.DS_Store
.idea/
